<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        font-family: 'Inter', Arial, sans-serif;
        margin: 0;
        padding: 32px;
        color: #111827;
        line-height: 1.6;
      }
      h1 {
        color: {{accentColor}};
      }
      .signature {
        margin-top: 32px;
        font-weight: 600;
      }
    </style>
  </head>
  <body>
    <p>{{date}}</p>
    <p>{{greeting}}</p>
    <p>{{openingParagraph}}</p>
    {{#each bodyParagraphs}}
      <p>{{this}}</p>
    {{/each}}
    <p>{{closingParagraph}}</p>
    <p class="signature">{{signature}}<br />{{name}}<br />{{email}}</p>
  </body>
</html>
